container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    "DJANGO_SETTINGS_MODULE": "a2.settings"
    "PYTHONPATH": "/opt/python/current/app/a2:$PYTHONPATH"
    "DEBUG": "False"
  "aws:elasticbeanstalk:container:python":
    StaticFiles: /static/=a2/static/
    WSGIPath: a2/wsgi.py
    NumProcesses: 4
    NumThreads: 8
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": a2/static/
