{% extends 'index.html' %}
{% load static %}

{% block content %}

<section class="breadcrumb_area">
  <img class="breadcrumb_shap" src="{% static 'img/breadcrumb/banner_bg.png' %}" alt="">
  <div class="container">
    <div class="breadcrumb_content text-center">
      <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Privacy Policy</h1>
    </div>
  </div>
</section>

<section class="sec_pad">
  <div class="container">
    <div class="details_content">
        <div class="sec_title mb_70">
            <h1 class="f_p f_size_32 f_500 t_color3 mb_20">Welcome to our Privacy Policy page</h1>
            <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Your privacy is critically important to us.</h3>
        </div>
        <div class="detail_content">
          <p class="f_300 f_size_15">
            It is AAMP’s policy to respect your privacy regarding any information we may collect while 
            operating our website. This Privacy Policy applies to <a href="https://wearea2.com">
            https://wearea2.com</a> (hereinafter, "us", "we", or "https://wearea2.com"). We respect 
            your privacy and are committed to protecting personally identifiable information you may 
            provide us through the Website. We have adopted this privacy policy ("Privacy Policy") to 
            explain what information may be collected on our Website, how we use this information, and 
            under what circumstances we may disclose the information to third parties. This Privacy Policy 
            applies only to information we collect through the Website and does not apply to our collection 
            of information from other sources.
          </p>

          <p class="f_300 f_size_15">
            This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the 
            general rules and policies governing your use of our Website. Depending on your activities when 
            visiting our Website, you may be required to agree to additional terms and conditions.
          </p>
          <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Website Visitors</h3>

          <p class="f_300 f_size_15">
            Like most website operators, AAMP collects non-personally-identifying information of the sort that 
            web browsers and servers typically make available, such as the browser type, language preference, 
            referring site, and the date and time of each visitor request. AAMP’s purpose in collecting 
            non-personally identifying information is to better understand how AAMP’s visitors use its website. 
            From time to time, AAMP may release non-personally-identifying information in the aggregate, e.g., 
            by publishing a report on trends in the usage of its website.
          </p>

          <p class="f_300 f_size_15">
            AAMP also collects potentially personally-identifying information like Internet Protocol (IP) 
            addresses for users that opted in to enter their infromation in the "contact us" form at 
            https://wearea2.com. AAMP only discloses logged in user and commenter IP addresses under the 
            same circumstances that it uses and discloses personally-identifying information as described below.
          </p>

          <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Gathering of Personally-Identifying Information</h3>
          <p class="f_300 f_size_15">
            Certain visitors to AAMP’s websites choose to interact with AAMP in ways that require AAMP to 
            gather personally-identifying information. The amount and type of information that AAMP gathers 
            depends on the nature of the interaction. For example, we ask visitors to provide personal inforamtion
            when filling out the contact us form, we ask for a name and last name, company name nad contact information        
            email or phone number for us to get back to a user of https://wearea2.com website.
          </p>
          
          <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Security</h3>
          <p class="f_300 f_size_15">
            The security of your Personal Information is important to us, but remember that no method of transmission 
            over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially 
            acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
          </p>
          
          <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Advertisements</h3>
          <p class="f_300 f_size_15">
            Ads appearing on our website may be delivered to users by advertising partners, who may set cookies. 
            These cookies allow the ad server to recognize your computer each time they send you an online advertisement 
            to compile information about you or others who use your computer. This information allows ad networks to, among 
            other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy 
            Policy covers the use of cookies by AAMP and does not cover the use of cookies by any advertisers.
          </p>
          
          
          <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Links To External Sites</h3>
          <p class="f_300 f_size_15">
            Our Service may contain links to external sites that are not operated by us. If you click on a third 
            party link, you will be directed to that third party's site. We strongly advise you to review the Privacy 
            Policy and terms and conditions of every site you visit.
          </p>
          <p class="f_300 f_size_15">
            We have no control over, and assume no responsibility for the content, privacy policies or practices of any 
            third party sites, products or services.
          </p>
          
          
          
          <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Aggregated Statistics</h3>
          <p class="f_300 f_size_15">
            AAMP may collect statistics about the behavior of visitors to its website. AAMP may display this information 
            publicly or provide it to others. However, AAMP does not disclose your personally-identifying information.
          </p>
          
          
          <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Cookies</h3>
          <p class="f_300 f_size_15">
            To enrich and perfect your online experience, AAMP uses "Cookies", similar technologies and services provided 
            by others to display personalized content, appropriate advertising and store your preferences on your computer.
          </p>
          <p class="f_300 f_size_15">
            A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser 
            provides to the website each time the visitor returns. AAMP uses cookies to help AAMP identify and track visitors, 
            their usage of https://wearea2.com, and their website access preferences. AAMP visitors who do not wish to have 
            cookies placed on their computers should set their browsers to refuse cookies before using AAMP’s websites, with 
            the drawback that certain features of AAMP’s websites may not function properly without the aid of cookies.
          </p>
          <p class="f_300 f_size_15">
            By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree 
            to AAMP's use of cookies.
          </p>
          
          <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Privacy Policy Changes</h3>
          <p class="f_300 f_size_15">
            Although most changes are likely to be minor, AAMP may change its Privacy Policy from 
            time to time, and in AAMP’s sole discretion. AAMP encourages visitors to frequently check this page for any changes 
            to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your 
            acceptance of such change.
          </p>
          <h3 class="f_p f_size_22 f_500 t_color3 mb_20">How to contact us</h3>
          <p class="f_300 f_size_15">
            If you have any questions about Our Company's privacy policy, the data we hold on you, or you would like to excercise 
            one of your data protection rights, please do not hesitate to contact us.
          </p>
          <p class="f_300 f_size_15">
            Email: info@wearea2.com    
          </p>
          <p class="f_300 f_size_15">
            Phone: +371 23272023
          </p>
    </div>
  </div>
</section>

{% endblock content %}




