{% extends 'index.html' %}
{% load static %}

{% block content %}
    
  <section class="breadcrumb_area">
      <img class="breadcrumb_shap" src="{% static 'img/breadcrumb/banner_bg.png' %}" alt="">
      <div class="container">
          <div class="breadcrumb_content text-center">
              <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Our process</h1>
              <p class="f_300 w_color f_size_16 l_height26">
                The process of development layed out in plain words 
                <br>
                Below is a typical workflow you will see by working with us.
              </p>
          </div>
      </div>
  </section>
  
  <section class="process_area bg_color sec_pad">
      <div class="container">
          <div class="features_info">
              <img class="dot_img" src="{% static 'img/process/divider.png' %}" alt="">
              <div class="row agency_featured_item mt-0 flex-row-reverse">
                  <div class="col-md-6">
                      <div class="agency_featured_img text-right">
                          <img src="{% static 'img/process/process_1.png' %}"  alt="">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="agency_featured_content pr_70 pl_70">
                          <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                          <img class="number" src="{% static 'img/home4/icon01.png' %}" alt="">
                          <h3>Get in touch</h3>
                            <p>
                              Let us hear the challenge. We have established 3 communication channels 
                              for ease of contacting us - send us an email directly at 
                              <a href='hello@wearea2.com'>hello@wearea2.com</a>, call our 
                              office at <a href="tel:0037124118199">+37124118199</a>, or via a
                              <a href="https://wearea2.com/contacts/">form</a> we have setup for your convinience.
                              We will process your request and get back to you as soon as we can.
                            </p>
                          <p class="icon mt_30"><i class="ti-arrow-right"></i></p>
                      </div>
                  </div>
              </div>
              <div class="row agency_featured_item agency_featured_item_two">
                  <div class="col-md-6">
                      <div class="agency_featured_img text-right">
                          <img src="{% static 'img/process/process_2.png' %}" alt="">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="agency_featured_content pl_100">
                          <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                          <img class="number" src="{% static 'img/home4/icon02.png' %}" alt="">
                          <h3>Let us get to know the project</h3>
                            <p>
                              Let us sign the non disclosure agreement and get to know your project. 
                              Our engineers will put their utmost thought in recognizing the challenge.
                              We will go through your requirements and have everything ready for the next steps.
                            </p>
                          <p class="icon mt_30"><i class="ti-arrow-right"></i></p>
                      </div>
                  </div>
              </div>
              <div class="row agency_featured_item flex-row-reverse">
                  <div class="col-md-6">
                      <div class="agency_featured_img text-right">
                          <img src="{% static 'img/process/process_5.png' %}" alt="">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="agency_featured_content pr_70 pl_70">
                          <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                          <img class="number" src="{% static 'img/home4/icon3.png' %}" alt="">
                          <h3>Confirm our proposed solution</h3>
                          <p>
                              This is the most intensive part of the job, grasping the challenge, 
                              identifying the ways to solve the puzzle. Let our engineers work on 
                              your problem. We will propose a course of actions to tackle down the 
                              challenge. We want to cover all bases and prepare for future growth 
                              of the product.
                          </p>
                          <p class="icon mt_30"><i class="ti-arrow-right"></i></p>
                      </div>
                  </div>
              </div>
              <div class="row agency_featured_item agency_featured_item_two">
                  <div class="col-md-6">
                      <div class="agency_featured_img text-right">
                          <img src="{% static 'img/process/process_4.png' %}" alt="">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="agency_featured_content pl_100">
                          <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                          <img class="number" src="{% static 'img/process/icon_04.png'%} " alt="">
                          <h3>Development</h3>
                          <p>
                              We follow Agile Development practices to deliver the product meeting customer's expectations. 
                              Never keeping our clients in the dark, we report the progress and issues we encounter. 
                              Our transparent communcation setting us apart from the competition.
                            </p>
                          <p class="icon mt_30"><i class="ti-arrow-right"></i></p>
                      </div>
                  </div>
              </div>
              <div class="row agency_featured_item flex-row-reverse">
                  <div class="col-md-6">
                      <div class="agency_featured_img text-right">
                          <img src="{% static 'img/process/process_3.png' %}" alt="">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="agency_featured_content pr_70 pl_70">
                          <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                          <img class="number" src="{% static 'img/process/icon_05.png' %}" alt="">
                          <h3>Release the product and training</h3>
                          <p>
                              Customers expect top of the line product with no corners cut. Our goal is to provide 
                              such a product. Each release is tested by our specialists but expecting customers to test 
                              the features of the product before final sign-off by the customer. We offer online training
                               for the software we have built not just leaving you with manuals to hang on to.
                            </p>
                          <a href="/contacts" class="btn_hover agency_banner_btn mt_30">Get in Touch</a>
                      </div>
                  </div>
              </div>
              <div class="dot middle_dot"><span class="dot1"></span><span class="dot2"></span></div>
          </div>
      </div>
  </section>
  



{% endblock content %}




