{% load static %}

<section class="partner_logo_area_two">
  <div class="container">
    <h4 class="f_size_18 f_400 f_p text-center l_height28 mb_70">
      Join the pool of satisfied customers.
    </h4>
    <div class="row partner_info">
      <div class="logo_item">
        <a href="https://wellbrain.co" target="_blank"><img src="{% static 'img/home3/logo_01.png' %}" alt="WellBrain"></a>
      </div>
      <div class="logo_item">
        <a href="https://mevoked.com" target="_blank"><img src="{% static 'img/home3/logo_02.png' %}" alt="mevoked"></a>
      </div>
    </div>
    <div class="row partner_info">
      <div class="logo_item">
        <div class="clutch-widget" data-url="//widget.clutch.co" data-widget-type="2" data-height="50" data-clutchcompany-id="573597"></div>
      </div>
    </div>
  </div>
</section>


